@font-face {
  src: url(./font/Poppins-Bold.woff);
  src: url(./font/Poppins-SemiBold.woff);
  src: url(./font/Poppins-Medium.woff);
  src: url(./font/Poppins-Regular.woff);
  src: url(./font/Poppins-Light.woff);
  font-family: Poppins;
}

section {
  margin-top: 6rem;
  margin-bottom: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder,
h1,
h2,
h3,
h4,
h5,
p,
button,
a {
  font-family: Poppins, sans-serif;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/*
   12px - 0.75rem
   14px - 0.875rem 
   16px - 1rem
   18px - 1.125rem
   24px - 1.5rem
   43px - 2.75rem
   60px - 3.75rem*/

:root {
  /* font-size */
  --fs-extra-large: 3.75rem;
  --fs-large: 2.75rem;
  --fs-semi-large: 1.5rem;
  --fs-medium: 1.125rem;
  --fs-small: 1rem;
  --fs-extra-small: 0.85rem;
  --fs-extra-extra-small: 0.75rem;

  /* line height */
  --lh-large: 4rem;
  --lh-semi-large: 2rem;
  --lh-medium: 1.6rem;
  --lh-small: 1.125rem;

  /* colos */
  --blue-900-primary: #004366;
  --blue-600: #4e9cdb;
  --blue-300-secondary: #19c6db;
  --blue-100: #48ebdc;
  --gray-900: #8f8f8f;
  --gray-700: #849db7;
  --gray-100: #e2f0fb;

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* buttons */
  --fs-button-small: var(--fs-extra-small);
  --fs-button-medium: var(--fs-small);
  --fs-button-large: var(--fs-medium);
}

h1 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--blue-900-primary);
}

h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--blue-900-primary);
}

h3 {
  font-size: var(--fs-semi-large);
  font-weight: var(--fw-medium);
  color: var(--blue-300-secondary);
}

h4 {
  font-size: var(--fs-extra-large);
  font-weight: var(--fw-bold);
  color: var(--blue-900-primary);
}

h5 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-semi-bold);
  color: var(--blue-900-primary);
}

p {
  font-size: var(--fs-medium);
  font-weight: var(--fw-light);
  color: var(--gray-900);
}

button {
  transition: all 0.2s ease-in-out;
}

*:focus {
  outline: none !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* SVG */
.logo {
  width: 180px;
  height: auto;
}

.cloud {
  width: 180px;
  height: auto;
  position: absolute;
  z-index: 2;
}

#octopus {
  width: 32.75rem;
  height: auto;
  position: absolute;
  z-index: -8;
}

.small-cloud {
  width: 76px;
  height: auto;
  position: absolute;
  z-index: -10;
}

.waved-cloud {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: -10;
}

.waves,
.waves-section4 {
  width: 100%;
  height: auto;
}

.gray-waves {
  width: 100%;
  height: auto;
}

.gray-waves-bottom {
  width: 100%;
  height: auto;
}

.waves-bottom-section5,
.waves-section5 {
  width: 100%;
}

.smile-face,
.done,
.cabinet {
  width: 5rem;
}

.sction2 img {
  width: 90px;
}

.laptop {
  width: 40rem;
  height: 30.8rem;
}

#phone {
  width: 47.75rem;
  height: 38.188rem;
}

/* button */
button {
  transition: all 0.2s ease-in-out;
}

/* cards */
.carte:hover,
.carte2:hover,
.carte3:hover,
.carte4:hover,
.carte5:hover {
  transform: scale(1.01) translateY(-3px);
  box-shadow: 0px 10px 20px rgba(4, 43, 52, 0.324);
  cursor: pointer;
}

.carte,
.carte2,
.carte3,
.carte4,
.carte5 {
  transition: all 0.125s ease-in-out;
}

/* keyframes */
@keyframes floating1 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes floating2 {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(10px);
  }
}