@font-face {
  src: url(./font/Poppins-Bold.woff);
  src: url(./font/Poppins-SemiBold.woff);
  src: url(./font/Poppins-Medium.woff);
  src: url(./font/Poppins-Regular.woff);
  src: url(./font/Poppins-Light.woff);
  font-family: Poppins;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}


button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}




:root {
  /* colos */
  --blue-900-primary: #004366;
  --blue-600: #4E9CDB;
  --blue-300-secondary: #19C6DB;
  --blue-100: #48EBDC;
  --gray-900: #8F8F8F;
  --gray-700: #849DB7;
  --gray-100: #E2F0FB;

  /* font-weight */
  font-family: Poppins, 'sans-serif';
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* 14px - 0.875rem 
   16px - 1rem
   18px - 1.125rem
   24px - 1.5rem
   43px - 2.75rem
   60px - 3.75rem*/
  --fs-extra-large: 3.75rem;
  --fs-large: 2.75rem;
  --fs-semi-large: 1.5rem;
  --fs-medium: 1.125rem;
  --fs-small: 1rem;
  --fs-extra-small: 0.875rem;

  /* buttons */
  --fs-button-small: var(--fs-extra-small);
  --fs-button-medium: var(--fs-small);
  --fs-button-large: var(--fs-medium);

}

/* ********************* */
/*     GENERAL STYLES    */
/* ********************* */

h1 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--blue-900-primary);
}

h2 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--blue-900-primary);
}

h3 {
  font-size: var(--fs-semi-large);
  font-weight: var(--fw-medium);
  color: var(--blue-300-secondary);
}

h4 {
  font-size: var(--fs-extra-large);
  font-weight: var(--fw-bold);
  color: var(--blue-900-primary);
}

h5 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-semi-bold);
  color: var(--blue-900-primary);
}

p {
  font-size: var(--fs-medium);
  font-weight: var(--fw-light);
  color: var(--gray-900);
}



/* SVG */
#logo {
  width: 180px;
  height: auto;
}

#cloud {
  width: 180px;
  height: auto;
  position: absolute;
  z-index: 2;
}

#octopus {
  width: 32.75rem;
  height: auto;
  position: absolute;
  z-index: -8;
}

#small-cloud {
  width: 76px;
  height: auto;
  position: absolute;
  z-index: -10;
}

#waved-cloud {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: -10;
}

#waves,
#waves-section4 {
  width: 100%;
  height: auto;
}

#smile-face,
#done,
#cabinet {
  width: 5rem;

}

#gray-waves {
  width: 100%;
  height: auto;
}

#gray-waves-bottom {
  width: 100%;
  height: auto;
}

#salle-dattent {
  width: 90px;
}

#laptop {
  width: 40rem;
  height: 30.8rem;
}

#phone {
  width: 47.75rem;
  height: 38.188rem;
}



/* keyframes */
@keyframes floating1 {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes floating2 {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(10px);
  }
}