/* ********************* */
/*      navigation       */
/* ********************* */
a.nav-link {
    font-size: var(--fs-extra-small);
    color: var(--blue-900-primary);
    margin-left: .9rem;
    margin-right: .9rem;
}

/* Me connecter */
.btn1 button:nth-child(1) {
    color: var(--blue-300-secondary);
    border: 1px solid var(--blue-300-secondary);
    background: #fff;
}

/* Crée un compte */
.btn1 button:nth-child(2) {
    color: #fff;
    border: 1px solid var(--blue-300-secondary);
    background: var(--blue-300-secondary);
}

.btn1 button:nth-child(1):hover,
.btn1 button:nth-child(2):hover {
    transform: translateY(-1.1px);
    box-shadow: 0 14px 8px rgba(228, 228, 228, 0.20), 0 10px 10px rgba(228, 228, 228, 0.2);
}














/* navbar toggler */
.lines {
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
    transition: all .3s;
    background: var(--blue-900-primary);
}


.navbar-toggler .line1 {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .line2 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .line3 {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .line1 {
    transform: rotate(0);
}

.navbar-toggler.collapsed .line2 {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .line3 {
    transform: rotate(0);
}













h1 {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--blue-900-primary);
    line-height: 4.031rem;
}