/* ********************* */
/*      ROOT             */
/* ********************* */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}





@media (max-width: 1200px) {
    .cloud3 {
        top: 32rem;
        left: 40%;
    }

    #phone {
        width: 42rem;
        height: 33rem;
        left: 50%;
    }

    #octopus {
        width: 27.75rem;
        top: 27rem;
    }

}

@media (max-width: 1130px) {

    /* ********************* */
    /*      navigation       */
    /* ********************* */
    .logo {
        width: 160px;
    }

    a.nav-link {
        margin-left: .4rem;
        margin-right: .4rem;
    }

    nav button {
        padding: .8rem 1.4rem;
    }
}

@media (max-width: 991px) {

    a.nav-link {
        text-align: center;
    }

    /* design */
    .cloud,
    #phone,
    .small-cloud,
    #octopus {
        display: none;
    }

    .section6.title {
        margin-top: -50px;
    }

    .section-gap {
        height: 80px;
    }


}

@media (max-width: 767px) {
    .waves {
        top: 41rem;
    }

    header {
        margin-top: 7rem;
    }

}

@media (max-width: 596px) {
    .carte2 {
        width: 400px;
    }

    .card-deck {
        display: flex;
        justify-content: center;
    }
}