@media (max-width: 1130px) {

    /* ********************* */
    /*      navigation       */
    /* ********************* */
    #logo {
        width: 160px;
    }

    a.nav-link {
        margin-left: .4rem;
        margin-right: .4rem;
    }

    nav button {
        padding: .8rem 1.4rem;
    }
}

@media (max-width: 991px) {
    a.nav-link {
        text-align: center;
    }
}