@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@media (max-width: 1200px) {
    .cloud3 {
        top: 32rem;
        left: 40%;
    }

    #phone {
        width: 42rem;
        height: 33rem;
        left: 50%;
    }

    #octopus {
        width: 27.75rem;
        top: 27rem;
    }
}

@media (max-width: 1130px) {

    /* ********************* */
    /*      navigation       */
    /* ********************* */
    .logo {
        width: 160px;
    }

    a.nav-link {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }

    nav button {
        padding: 0.8rem 1.4rem;
    }
}

@media (max-width: 991px) {
    a.nav-link {
        text-align: center;
    }

    /* design */
    .cloud,
    #phone,
    .small-cloud,
    #octopus {
        display: none;
    }

    .section6.title {
        margin-top: -50px;
    }

    .section-gap {
        height: 80px;
    }
}

@media (max-width: 767px) {
    .waves {
        margin-top: 6rem;
    }

    header {
        margin-top: 7rem;
    }
}

@media (max-width: 596px) {
    header {
        margin-top: 9rem;
        height: 80vh;
    }

    .section4 {
        margin-top: -19%;
    }

    .waves {
        display: none;
    }

    .section1 {
        margin-top: -150px;
    }

    .carte2 {
        width: 400px;
    }

    .card-deck {
        display: flex;
        justify-content: center;
    }

    .modal-content h2 {
        line-height: var(--lh-semi-large);
        font-size: var(--fs-semi-large);
    }

    .modal-content {
        margin-top: -5px;
    }

    .modal-content p {
        margin-bottom: 5px;
    }

    .modal-content .filled {
        width: 100%;
    }

    :root {
        /* font size */
        --fs-extra-large: 2.75rem;
        --fs-large: 2rem;
        --fs-semi-large: 1.5rem;
        --fs-medium: 1rem;
        --fs-small: 0.875rem;
        --fs-extra-small: 0.75rem;
        --fs-extra-extra-small: 0.65rem;

        /* line height */
        --lh-large: 2.5rem;
        --lh-semi-large: 1.95rem;
        --lh-medium: 1.5rem;
        --lh-small: 1.25rem;
    }
}